# Hugging Face
HF_TOKEN=<secret>

# Caches. Optional.
## Hugging Face
HF_HOME=~/.cache/huggingface
## DeepGEMM
SGLANG_DG_CACHE_DIR=~/.cache/deep_gemm
## Triton
TRITON_HOME=~
## Tilelang
TILELANG_CACHE_DIR=~/.tilelang/cache