[submodule "thrid_party/vllm-timber"]
	path = third_party/vllm-timber
	url = git@github.com:gmlwns2000/vllm-timber.git
[submodule "third_party/LongBench-timber"]
	path = third_party/LongBench-timber
	url = git@github.com:gmlwns2000/LongBench-timber.git
