[submodule "third_party/LongBench-timber"]
	path = third_party/LongBench-timber
	url = git@github.com:gmlwns2000/LongBench-timber.git
[submodule "third_party/lm-evaluation-harness"]
	path = third_party/lm-evaluation-harness
	url = git@github.com:gmlwns2000/lm-evaluation-harness.git
[submodule "third_party/vllm"]
	path = third_party/vllm
	url = git@github.com:DeepAuto-AI/vllm.git
