.venv/
__pycache__/
*.pyc
*.pkl
*.model
*.pth*
cache/
.vscode/
*.zip
dataset/squad2/*.json
saves/*
saves
cache
pretrained/
logs/
*.log
saves.bak/
output*.txt

!saves/README.md
!./saves/README.md

saves/
cache/
.torch/
wandb/

*.csv

src/utils/secrets.*
hip/utils/secrets.*
plots/
submission/
submission*.zip

hello.png
hello*.png
data/
save/
*.ttf
.idea/*

hip.egg-info/
hip/hip.egg-info/
build/

*.qdstrm
*.nsys-rep
*.egg-info
profile.*
*.nsys-rep
*.ncu-rep
dummy.jpg
images/
dummy.png
*.sqlite

third_party/

dummy*.png
dummy*.jpg
flux-dev.png
