# Build dependencies. Should be mirrored in pyproject.toml
cmake>=3.21
ninja
packaging
setuptools>=49.4.0
torch==2.5.1  # This version is fixed by sglang and vllm
wheel

# Required
numba
performer_pytorch
peft
seaborn
sympy
bitsandbytes

# CUDA 12
cupy-cuda12x

# Tools
typer >= 0.15.1

# TODO: Remove from default dependencies
matplotlib
numpy < 2.0.0 # https://github.com/vllm-project/vllm/pull/5582/files
scikit-image

# TODO: This needs to move to dev
nvtx
