# Build dependencies. Should be mirrored in pyproject.toml
cmake>=3.21
ninja
packaging
setuptools>=49.4.0
torch==2.3.0
wheel

# Required
numba
performer_pytorch
peft
seaborn
sympy

# CUDA 12
cupy-cuda12x

# TODO: Remove from default dependencies
matplotlib
numpy < 2.0.0 # https://github.com/vllm-project/vllm/pull/5582/files
scikit-image
